<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barclaysfresh"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name=".CheckOut"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
        <activity
            android:name=".PaymentOptionSelectorActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PayumoneyCheckoutActivity"
            android:label="@string/title_activity_payumoney_checkout" >
        </activity>
        <activity
            android:name=".CitrusPayCheckoutActivity"
            android:label="@string/title_activity_citrus_pay_checkout" >
        </activity>
        <activity
            android:name=".CreditDebitCardCheckoutActivity"
            android:label="@string/title_activity_credit_debit_card_checkout" >
        </activity>
    </application>

</manifest>
